[ipam]
username = user
appcode = code
server = https://server


[snmp]
servers = {
           "10.0.0.1":"IP-MIB::ipNetToMediaPhysAddress",
           "10.0.0.2":"IP-MIB::ipNetToMediaPhysAddress",
           "10.0.0.3":"IP-MIB::ipNetToMediaPhysAddress",
           "10.11.12.13":"IP-MIB::ipNetToPhysicalPhysAddress",
           "10.1.2.4":"IP-MIB::ipNetToPhysicalPhysAddress",
           "10.1.2.3":"IP-MIB::ipNetToPhysicalPhysAddress",
          }
username = user
password = pass

